<!DOCTYPE html>
<v-app id="app">
  <v-toolbar color="red lighten-3" dark>
    <v-toolbar-title>Cocktail App</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn flat>Register / Login</v-btn>
  </v-toolbar>
  <v-container style="height: 1000px; max-width: 2400px;">
    <v-layout>
      <v-flex xs5>
        <h1>Search Cocktail</h1>
        <h2>Input Cocktail Name</h2>
        <v-text-field v-model="searchWord" v-on:keyup="abstruct" label="Input Name" style='margin-top:4px'></v-text-field>
        <h2>Select Ingredients</h2>
        <v-select v-model='ingredient' :items="ingredients" label="Ingredients" v-on:change="abstruct"></v-select>
        <h2>Select Taste</h2>
        <v-select v-model='taste' :items="tastes" label="Taste" v-on:change="abstruct"></v-select>
      </v-flex>
      <v-flex xs7 style='margin:10px'>
        <v-card style="margin-top:10px" v-for="cocktail in cocktailList">
          <v-card-title primary-title>
            <h3 class="headline">{{ cocktail }}</h3>
          </v-card-title>

        <v-card-text>
          <h3>Picture</h3>
          <h3>Taste</h3>
          <v-layout wrap>
            <v-flex xs3 sm3 md3 text-center>Sweetness</v-flex>
            <v-flex xs3 sm3 md3 text-center>Sourness</v-flex>
            <v-flex xs3 sm3 md3 text-center>Bitterness</v-flex>
            <v-flex xs3 sm3 md3 text-center>Alcohol</v-flex>
  　       </v-layout>
          <h3>Ingredients</h3>
        </v-card-text>

        <v-divider></v-divider>
  
          <v-card-actions>
            <v-btn class="ma-2" color="red lighten-2" dark>Detail</v-btn>
            <v-spacer></v-spacer>
            <v-btn icon>
              <v-icon color="red">mdi-heart</v-icon>
            </v-btn>
            <v-btn class="ma-2" color="primary" dark>Drink</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
</v-app>
<script>
  new Vue({
    el: '#app',
    data () {
      return {
        cocktailList: ['PinkLady', 'Mojito']
      }
    },
    mounted () {

    },
    methods: {

    }
  });
</script>

<%= javascript_pack_tag 'cocktail' %>