<!DOCTYPE html>
<v-container style="height: 1000px; max-width: 2400px;">
  <v-layout>
    <v-bottom-sheet v-model="searchShown">
      <v-btn class="ma-2" color="red lighten-2" dark
          @click="searchShown = !searchShown"
      >Close</v-btn>
      <v-sheet class="text-center" height="100px">
        <v-container>
          <v-layout row wrap>
            <v-flex xs1 sm1 style='margin:10px'>
              <v-header class="pl-0">Word</v-header>
            </v-flex>
            <v-flex xs5 sm5 style='margin:10px'>
              <v-text-field v-model="searchName" v-on:keyup="abstruct" label="Input Name" clearable></v-text-field>
            </v-flex>
            <v-flex xs5 sm5 style='margin:10px'>
              <v-text-field v-model="searchWord" v-on:keyup="abstruct" label="Input Keyword" clearable></v-text-field>
            </v-flex>
          </v-layout>
        </v-container>
      </v-sheet>
      <v-sheet class="text-center" height="100px">
        <v-container>
          <v-layout row wrap>
            <v-flex xs1 sm1 style='margin:10px'>
              <v-header class="pl-0">Ingredients</v-header>
            </v-flex>
            <v-flex xs5 sm5 style='margin:10px'>
              <v-select v-model='baseToSearch' :items="baseList" label="Select Base" v-on:change="abstruct"></v-select>
            </v-flex>
            <v-flex xs5 sm5 style='margin:10px'>
              <v-combobox
                v-model="ingredientsToSearch"
                :items="ingredientList"
                label="Select Ingredients"
                v-on:change="abstruct"
                multiple
                chips
              ></v-combobox>
            </v-flex>
          </v-layout>
        </v-container>
      </v-sheet>
      <v-sheet class="text-center" height="200px">
        <v-container>
          <v-layout row wrap>
            <v-flex xs1 sm1 style='margin:10px'>
              <v-header class="pl-0">Taste</v-header>
            </v-flex>
            <v-flex xs2 sm2 style='margin:20px'>
              <v-subheader class="pl-0">Alcohol</v-subheader>
              <v-range-slider
                v-model="alcoholToSearch"
                v-on:change="abstruct"
                :max="50"
                :min="0"
                step="1"
                ticks
                :thumb-size="24"
                thumb-label="always"
              ></v-range-slider>
            </v-flex>
            <v-flex xs2 sm2 style='margin:20px'>
              <v-subheader class="pl-0">Sourness</v-subheader>
              <v-range-slider
                v-model="sournessToSearch"
                v-on:change="abstruct"
                :max="5"
                :min="0"
                step="1"
                ticks
                :thumb-size="24"
                thumb-label="always"
              ></v-range-slider>
            </v-flex>
            <v-flex xs2 sm2 style='margin:20px'>
              <v-subheader class="pl-0">Sweetness</v-subheader>
              <v-range-slider
                v-model="sweetnessToSearch"
                v-on:change="abstruct"
                :max="5"
                :min="0"
                step="1"
                ticks
                :thumb-size="24"
                thumb-label="always"
              ></v-range-slider>
            </v-flex>
            <v-flex xs2 sm2 style='margin:20px'>
              <v-subheader class="pl-0">Bitterness</v-subheader>
              <v-range-slider
                v-model="bitternessToSearch"
                v-on:change="abstruct"
                :max="5"
                :min="0"
                step="1"
                ticks
                :thumb-size="24"
                thumb-label="always"
              ></v-range-slider>              
            </v-flex>
          </v-layout>
        </v-container>        
      </v-sheet>
    </v-bottom-sheet>
    <v-flex xs6 style='margin:10px'>
      <v-card style="margin:10px" v-for="cocktail in cocktailList" :key="cocktail">
        <v-img
          class="white--text align-end"
          height="200px"
          src="https://cdn.vuetifyjs.com/images/cards/docks.jpg"
        >
          <v-card-title primary-title><h2>{{ cocktail["info"].name }}</h2></v-card-title>
        </v-img>

        <v-card-text>
          <h3>Taste</h3>
          <v-layout wrap>
            <v-flex xs3 sm3 md3 text-center>Sweetness {{ cocktail["info"].sweetness }}</v-flex>
            <v-flex xs3 sm3 md3 text-center>Sourness {{ cocktail["info"].sourness }}</v-flex>
            <v-flex xs3 sm3 md3 text-center>Bitterness {{ cocktail["info"].bitterness }}</v-flex>
            <v-flex xs3 sm3 md3 text-center>Alcohol {{ cocktail["info"].alcohol }}</v-flex>
  　       </v-layout>
          <h3>Ingredients</h3>
          <h3 v-for="ing in cocktail['ingredientsAmount']" :key="ing">{{ing.name}}: {{ing.amount}}ml</h3>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-btn class="ma-2" color="red lighten-2" dark>Detail</v-btn>
          <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon color="red">mdi-heart</v-icon>
          </v-btn>
          <v-btn class="ma-2" color="primary" dark>Drink</v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</v-container>