<html>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"> <!-- 説明 3.1 -->
  <link href="https://cdn.jsdelivr.net/npm/vuetify@1.5/dist/vuetify.min.css" rel="stylesheet"> <!-- 説明 3.2 -->
  <script src="https://cdn.jsdelivr.net/npm/vuetify@1.5/dist/vuetify.js"></script> 
  <script src="https://cdn.rawgit.com/showdownjs/showdown/1.9.0/dist/showdown.min.js"></script>
  <title>Cocktail App</title>
</html>